@font-face {
    font-family: PixelFont;
    src: url(../assets/fonts/Commodore\ 64.ttf);
}

:root {
    --c64-bg: #50459b;
    --c64-fg: #887ecb;
    --c64-red: #801d1a;
    --c64-black: #06060d;
}

.hidden {
    display: none !important;
}

body {
    font-family: PixelFont;
    font-size: 16pt;
    color: var(--c64-fg);
    background-color: var(--c64-bg);
    border: 32px solid;
    min-height: 100vh;
    padding: 4px;
    line-height: 1;
}

hr {
    border: none;
    border-top: 4px solid var(--c64-fg);
    overflow: visible;
    text-align: center;
    height: 8px;
}

hr::after {
    background-color: var(--c64-bg);
    content: "#";
    padding: 0 8px;
    position: relative;
    top: -12px;
}

h1 {
    font-size: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

h1::before {
    content: "*** ";
}

h1::after {
    content: " ***";
}

h2 {
    font-size: 100%;
    margin-bottom: 16px;
}

h2::before {
    content: "> ";
}

.task-1 p::before {
    content: "$";
}

input {
    color: var(--c64-fg);
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-bottom: 4px solid var(--c64-fg);
  }

.error-display {
    color: var(--c64-black);
    background-color: var(--c64-red);
}

.task-2 p::before {
    content: "$";
}